<!DOCTYPE HTML>
<html lang="de">
<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
	<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
	<title>OHIOH  Research Media</title>
	<link rel="stylesheet" type="text/css" href="style/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
	<link rel="manifest" href="_manifest.json" data-pwa-version="1.0.0">
	<link rel="apple-touch-icon" sizes="180x180" href="images/OHIOHicons/icon-192x192.png">
	<% preact.headEnd %>
</head>

<body class="theme-light" data-highlight="OHIOH">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">

    <!-- header and footer bar go here-->
    <div class="header header-fixed header-auto-show header-logo-app">
        <a href="index.html" class="header-title">OHIOH Media</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
        <a href="#" data-menu="menu-highlights" class="header-icon header-icon-3"><i class="fas fa-brush"></i></a>
    </div>
    <div id="footer-bar" class="footer-bar-5">
        <a href="index-features.html"><i data-feather="heart" data-feather-line="1" data-feather-size="21" data-feather-color="red2-dark" data-feather-bg="red2-fade-light"></i><span>Features</span></a>
        <a href="index-media.html" class="active-nav"><i data-feather="image" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Media</span></a>
        <a href="index.html"><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Home</span></a>
        <a href="index-QR.html"><i data-feather="file" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>QR-Infos</span></a>
        <a href="index-settings.html"><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Settings</span></a>
    </div>

    <div class="page-content">

        <div class="page-title page-title-small">
            <h2><a href="#" data-back-button><i class="fa fa-arrow-left"></i></a>Media</h2>
            <a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="images/avatars/11l.png"></a>
        </div>
        <div class="card header-card shape-rounded" data-card-height="150">
            <div class="card-overlay bg-highlight opacity-95"></div>
            <div class="card-overlay dark-mode-tint"></div>
            <div class="card-bg preload-img" data-src="images/pictures/20.png"></div>
        </div>

        <div class="card card-style">
            <div class="content">
                Research Fotos... no reading: See us in action
            </div>
        </div>


        <a href="index-features.html" data-card-height="120" class="card card-style mb-3">
            <div class="card-center pl-3 ml-2">
                <i data-feather="camera"
                   data-feather-line="1"
                   data-feather-size="50"
                   data-feather-color="blue2-dark"
                   data-feather-bg="blue2-fade-light">
                </i>
            </div>
            <div class="card-center pl-5 ml-5">
                <h4 class="pl-2">Galleries</h4>
                <p class="pl-2 mt-n2 font-12 color-highlight mb-0">Images  from OHIOH-Research</p>
            </div>
            <div class="card-center opacity-30">
                <i class="fa fa-arrow-right opacity-50 float-right color-theme pr-3"></i>
            </div>
        </a>

        <a href="index-features.html" data-card-height="120" class="card card-style mb-3">
            <div class="card-center pl-3 ml-2">
                <i data-feather="image"
                   data-feather-line="1"
                   data-feather-size="50"
                   data-feather-color="green1-dark"
                   data-feather-bg="green1-fade-light">
                </i>
            </div>
            <div class="card-center pl-5 ml-5">
                <h4 class="pl-2">Research-Projects</h4>
                <p class="pl-2 mt-n2 font-12 color-highlight mb-0">To the projects</p>
            </div>
            <div class="card-center opacity-30">
                <i class="fa fa-arrow-right opacity-50 float-right color-theme pr-3"></i>
            </div>
        </a>

        <a href="index-features.html" data-card-height="120" class="card card-style">
            <div class="card-center pl-3 ml-2">
                <i data-feather="zap"
                   data-feather-line="1"
                   data-feather-size="50"
                   data-feather-color="yellow1-dark"
                   data-feather-bg="yellow1-fade-light">
                </i>
            </div>
            <div class="card-center pl-5 ml-5">
                <h4 class="pl-2">social media</h4>
                <p class="pl-2 mt-n2 font-12 color-highlight mb-0">Instagram, Facebook, Twitter && Co</p>
            </div>
            <div class="card-center opacity-30">
                <i class="fa fa-arrow-right opacity-50 float-right color-theme pr-3"></i>
            </div>
        </a>

        <div class="card card-style">
            <div class="content">
                <h5>Participate</h5>
                <p>Of course! You are still a part of the OHIOH-Team. Lets talk  about our OHIOH.</p>
            </div>
        </div>

        <!-- footer and footer card-->
        <div class="footer" data-menu-load="menu-footer.html"></div>
    </div>
    <!-- end of page content-->


    <div id="menu-share"
         class="menu menu-box-bottom menu-box-detached rounded-m"
         data-menu-load="menu-share.html"
         data-menu-height="420"
         data-menu-effect="menu-over">
    </div>

    <div id="menu-highlights"
         class="menu menu-box-bottom menu-box-detached rounded-m"
         data-menu-load="menu-colors.html"
         data-menu-height="510"
         data-menu-effect="menu-over">
    </div>

    <div id="menu-main"
         class="menu menu-box-right menu-box-detached rounded-m"
         data-menu-width="260"
         data-menu-load="menu-main.html"
         data-menu-active="nav-media"
         data-menu-effect="menu-over">
    </div>




</div>


<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<% preact.bodyEnd %>
</body>
</html>
